In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

!conda install -c anaconda beautifulsoup4 --yes

print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.9.11          |           py36_0         154 KB  anaconda

The following packages will be UPDATED:

    certifi: 2019.9.11-py36_0  conda-forge --> 2019.9.11-py36_0 anaconda
    openssl: 1.1.1c-h516909a_0 conda-forge --> 1.1.1-h7b6447c_0 anaconda


Downloading and Extracting Packages
certifi-2019.9.11    | 154 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: failed
ERROR conda.core.link:_execute(502): An error occurred while installing package 'anaconda::openssl-1.1.1-h7b6447c_0'.
CondaError: Cannot link a source that does not exist. /home/jupyterlab/conda/envs/python/.condatmp/a15d765a-758c-4670-823f-03159b4cbb0b
Running `conda clean --packages` may resolve your problem.
Attempting to roll back.

Rolling back transaction: done

CondaError: Cannot link a source that does not exist. /home/jupyterlab/conda/envs/python/.condatmp/a15d765a-758c-4670-823f-03159b4cbb0b
Running `conda clean --packages` may resolve your problem.
FileNotFoundError(2, 'No such file or directory')


Libraries imported.

In [2]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import urllib.request
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
from bs4 import BeautifulSoup
soup = BeautifulSoup(page, "lxml")

In [4]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

In [7]:
all_tables=soup.find_all("table")

In [8]:
right_table=soup.find('table', class_='wikitable sortable')

In [9]:
A=[]
B=[]
C=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [11]:
import pandas as pd
df=pd.DataFrame(A,columns=['PostalCode'])
df['Borough']=B
df['Neighborhood']=C
#df[df.Borough != 'Not assigned']
df.head(20)

   PostalCode           Borough       Neighborhood
0         M1A      Not assigned     Not assigned\n
1         M2A      Not assigned     Not assigned\n
2         M3A        North York          Parkwoods
3         M4A        North York   Victoria Village
4         M5A  Downtown Toronto       Harbourfront
5         M5A  Downtown Toronto        Regent Park
6         M6A        North York   Lawrence Heights
7         M6A        North York     Lawrence Manor
8         M7A      Queen's Park     Not assigned\n
9         M8A      Not assigned     Not assigned\n
10        M9A         Etobicoke   Islington Avenue
11        M1B       Scarborough              Rouge
12        M1B       Scarborough            Malvern
13        M2B      Not assigned     Not assigned\n
14        M3B        North York  Don Mills North\n
15        M4B         East York   Woodbine Gardens
16        M4B         East York      Parkview Hill
17        M5B  Downtown Toronto          Ryerson\n
18        M5B  Downtown Toronto  Garden District\n
19        M6B        North York        Glencairn\n

In [12]:
#remove Boroughs that are unassigned.
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [13]:
#combine neighborhoods with the same postal code
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough     Guildwood\n, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                             Cedarbrae\n

In [14]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
import numpy as np
df['Neighborhood'] = np.where(df['Neighborhood'] == 'Not assigned\n', df['Borough'], df['Neighborhood'])
df.head(11)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Rouge, Malvern
1         M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                Guildwood\n, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                        Cedarbrae\n
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough      East Birchmount Park\n, Ionview, Kennedy Park
7         M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8         M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West\n
9         M1N  Scarborough                      Birch Cliff, Cliffside West\n
10        M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...

In [15]:
#the .shape method to print the number of rows of your dataframe
df.shape

(103, 3)

In [16]:
#read the CSV file with the geographical data
df1 = pd.read_csv('https://cocl.us/Geospatial_data',dtype={'Postal Code': object,'Latitude': float,'Longitude': float })
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
#Get cordinates and merge with the initial table
df_final = df.merge(df1, left_on = 'PostalCode', right_on = 'Postal Code')
del df_final['Postal Code']
df_final

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood\n, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae\n,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount\n,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens\n, Ric...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens\n, Beaumond Heights, Humbergate...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest\n,43.706748,-79.594054

In [69]:
print('Thank you for marking my assignment!')

Thank you for marking my assignment!